# personal script folder #
#######################
tools/

# build folder #
#######################
build/

# executables in other folders #
*.exe

###############################
# IDE junk #
.vscode/